<br>

<h1 class="text-center">Retos</h1>
<div id="lala">
<h3>  1. Reto Framework FrontEnd (<a href="https://angular.io/" class="text-warning stretched-link">Angular</a>)  </h3>
<div id="lala2">
    <h5>Angular es un framework opensource desarrollado 
        por Google para facilitar la creación y programación
         de aplicaciones web de una sola página.</h5>

         <h5>Angular separa 
            completamente el frontend y el backend en la aplicación, 
            evita escribir código repetitivo y mantiene todo más ordenado 
            gracias a su patrón MVC (Modelo-Vista-Controlador) asegurando 
            los desarrollos con rapidez, a la vez que posibilita modificaciones 
            y actualizaciones.</h5>
</div>
<div id="Centrado" class="col-md-20 text-center">  
<img src="assets/ANGULAR.png" id="imagen" class="img-thumbnail center-block" alt="Info. ANGULAR">
</div>
<br>
<h3>2. Reto Framework CSS (<a href="https://getbootstrap.com/" class="text-warning stretched-link">Bootstrap</a>) </h3>
<div id="lala2">
    <h5>Bootstrap es un framework CSS desarrollado por Twitter en 2010, para estandarizar las herramientas de la compañía.</h5>
         
    <h5>El framework combina CSS y JavaScript para estilizar los elementos de una página HTML. Permite mucho más que, simplemente, cambiar el color de los botones y los enlaces.</h5>

    <h5>Esta es una herramienta que proporciona interactividad en la página, por lo que ofrece una serie de componentes que facilitan la comunicación con el usuario, como menús de navegación, controles de página, barras de progreso y más</h5>
</div>
<div id="Centrado" class="col-md-20 text-center">  
<img src="assets/Bootstrap.png" id="imagen" class="img-thumbnail center-block" alt="Info. BOOTSTRAP">
</div>
<br>
<h3>3. Reto Mapas (<a href="https://www.mapbox.com/" class="text-warning stretched-link">MapBox</a>) </h3>
<div id="lala2">
   <h5>MapBox es una webapp que nos permite diseñar y publicar mapas en múltiples medios de una manera simple y accesible. Ofrece multitud de prediseños para los mapas, asi como diferentes herramientas para personalizar el estilo de nuestros mapas y darle ese toque diferente, así como para compartirlos en web o medios sociales. Está basado en OpenStreetMap</h5>
</div>
<div id="Centrado" class="col-md-20 text-center">  
<!--<img src="assets/.png" id="imagen" class="img-thumbnail center-block" alt="Info. BOOTSTRAP"> -->
</div>
<br>
<h3>4. Reto Login Responsivo (<a href="https://getbootstrap.com/" class="text-warning stretched-link">Bootstrap</a>)</h3>
<div id="Centrado" class="col-md-20 text-center">  
<!--<img src="assets/.png" id="imagen" class="img-thumbnail center-block" alt="Info. BOOTSTRAP"> -->
</div>
<br>
<br>
</div>